.Container{
    margin: 20px 5px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 40px;
    position: relative;
}
.img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}
.img:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.cols{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; 
    border-top: 1px solid #e3e3e3;
    border-radius: 10px;
}
.title{
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(2 6 23);
    text-transform: uppercase;
}
.SelectedHide{
    position: absolute;
    display: none;
}
.SelectedActive{
    position: absolute;
    display: block; 
    right: 0;
    top: 5px;
}
@media only screen and (max-width: 1400px) {
    .Container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
   
}
@media only screen and (max-width: 1100px) {
    .Container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
   
}

@media only screen and (max-width: 600px) {
    .Container {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}